.dashboard-reports-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.dashboard-reports-thq-accounts-balances-elm {
  background: var(--color-surface-elevated);
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm10 {
  height: 45%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm11 {
  height: 62%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm12 {
  height: 38%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm13 {
  height: 78%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm14 {
  height: 55%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm15 {
  height: 85%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm16 {
  height: 48%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm17 {
  height: 67%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm18 {
  height: 42%;
}
 
.dashboard-reports-thq-visualizations-charts-bar-elm19 {
  height: 73%;
}
 
.dashboard-reports-container2 {
  display: none;
}
 
.dashboard-reports-container3 {
  display: contents;
}
 
.dashboard-reports-container4 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.dashboard-reports-icon84 {
  width: 24px;
  margin-right: 4px;
}
 
.dashboard-reports-text31 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
